html,body, .wrapper{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    background-color: aqua
}
.wrapper>div{
    padding: 1%;
    box-sizing: border-box;

}
.wrapper > div:first-child {
    background-color:red;
    width: 100%;
    height: 50%;
    
}
.wrapper > div:last-child {
    background-color:#154468;
    width: 100%;
    height: 50%;
    

}
.red_container>div:first-child{
    width: 30%;
    background:azure;
    height:100%;
    display: inline-block;
    margin-right: 1%;


}
.red_container>div:last-child{
    width: 68.6%;
    background:azure;
    height:100%;
    display: inline-block;
    


}
.blue_container>div:first-child{
    width: 30%;
    background:azure;
    height:100%;
    display: inline-block;
    margin-right: 1%;



}
.blue_container>div:last-child{
    width: 68.6%;
    background:azure;
    height:100%;
    display: inline-block;
    


}
.right_section>div:first-child{
    background: white;
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    padding-top: 3%;
}
.logo{
    width: 15%;
    height: 70%;
    background-image: url("pics/aa.png");
    background-size: contain;
    margin: 0 auto;
    background-repeat: no-repeat
}